h1 {
  margin-top: 10vh;
}

.main-nav {
  width: 100%;
  display: grid;
  grid-template-columns: 5rem 1fr 2fr 1fr 5rem;
  background-color: rgb(187, 188, 188);
  position: fixed;
  top: 0;
  box-shadow: 0px 50px 100px -20px;
}

.logo {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
}

.logo h2 {
  font-size: 20px;
}
.logo span {
  font-size: 25px;
}

.topnav {
  grid-column: 3/5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar{
    width: 60%;
    grid-column: 3/4;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.signin {
    
    grid-column: 4/5;
    text-align: center;
  }

.topnav li,a {
  text-decoration: none;
  list-style: none;
}

.hamburger-menu {
  grid-column: 4/5;
  display: none;
}



@media screen and (max-width: 768px) {
  .main-nav {
    grid-template-columns: 1rem 3fr 1fr 3fr 1rem;
  }

  .logo {
    justify-content: start;
    margin-left: 5vw;
  }

.topnav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 4.2rem;
    right: -5000px;
    width: 50%;
    height: 100vh;
    background-color: rgb(216, 212, 212);
    padding: 40px 0 0 10px;
    transition: 0.5s ease-in-out;
}

.topnav.active{
    right: 0;
}

.navbar ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-transform: uppercase;
    margin-bottom: 30%;
  }

  .navbar li{
    margin-bottom: 10%;
  }

  .signin{
    margin: 0 0 0 40px;
  }

  .hamburger-menu {
    display: block;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 0;
    font-size: 1.5rem;
    grid-row: 1/2;
  }
}
