h1 {
  margin-top: 10vh;
}

.main-nav {
  width: 100%;
  display: grid;
  grid-template-columns: 5rem 1fr 2fr 1fr 5rem;
  background-color: rgb(187, 188, 188);
  position: fixed;
  top: 0;
  box-shadow: 0px 50px 100px -20px;
}

.logo {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
}

.logo h2 {
  font-size: 20px;
}
.logo span {
  font-size: 25px;
}

.topnav {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav ul {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.topnav li,
a {
  text-decoration: none;
  list-style: none;
}

.signin {
  grid-column: 4/5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu {
  grid-column: 4/5;
  display: none;
}



@media screen and (max-width: 768px) {
  .main-nav {
    grid-template-columns: 1rem 3fr 1fr 3fr 1rem;
  }

  .logo {
    justify-content: start;
    margin-left: 5vw;
  }

  .topnav,
  .signin {
    display: none;
  }

  .hamburger-menu {
    display: block;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 0;
    font-size: 1.5rem;
    grid-row: 1/2;
  }

  .mobile-topnav {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }
  
  .mobile-topnav {
    background-color: white;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .mobile-topnav ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }
  
  .mobile-topnav ul li:first-child {
    transition-delay: 0.2s;
  }

  /* .signin{
        grid-row: 1/2;
        grid-column: 3/5;
        justify-items: end;
        align-items: center;
        transition: all 2s linear;
  } */
}
